APP_NAME=Vehicle_Rental_Management
# NODE_ENV: The environment in which the application is running (e.g., development, production, test).
NODE_ENV=development

PORT=3000

# Use one of the following levels: error, warn, info, http, verbose, debug, silly
LOG_LEVEL=silly

ENCRYPTION_KEY=

#Database config (MySQL)
USE_DB=true
DB=mysql
DB_HOST=127.0.0.1
DB_NAME=
DB_USER=
DB_PASSWORD=

# Directory (relative to project root) where uploaded vehicle photos are stored
UPLOAD_DIR=uploads

# Set your JWT secret key here
JWT_SECRET=1234567890
# Set the JWT expiration time in seconds
JWT_EXPIRATION=7200